@charset "utf-8";

//==========================================================================
//_inner.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-inner
//-----------------------------------------------------------------
.l-inner {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 40px;
    width: 100%;
    @include smMax {
        padding: 0 sm_vw(45);
    }
}


