@charset "utf-8";

//==========================================================================
//_main.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-main
//-----------------------------------------------------------------
.l-main {
  position: relative;
  display: block;
  padding: 54.5px 0 60px;
  z-index: 2;
  @include smMax {
      position: relative;
      padding: 0 0 sm_vw(120);
  }
}


