@charset "utf-8";

//==========================================================================
//_page.scss
//==========================================================================

//-----------------------------------------------------------------
//.l-page
//-----------------------------------------------------------------
.l-page {
    width: 100%;
    overflow: hidden;
    @include smMin {
        min-width: 1080px;
        margin: 0 auto;
    }
    @include smMax {
        min-width: 100%;
    }
}